:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-text: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bc-color: #2f303a;
  --bc-color-team-and-filter: #f5f4fa;
  --border-color: #eeeeee;
  --border-bottom-header-color: #ececec;
  --contact-link-footer: rgba(255, 255, 255, 0.6);
  --color-web-studio: #000000;
}

/* Глобальный сброс margin and padding */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

/* Убираем точки рядом со списками */
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primery-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  border-bottom: 1px solid var(--border-bottom-header-color);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Лого сайта*/
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  align-items: center;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-web-studio);
  text-decoration: none;
  text-align: center;
}

.logo-web {
  color: var(--accent-text);
}

/* Навигация сайта */
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav {
  display: flex;
}

.site-nav .link {
  color: var(--primery-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text);
  fill: var(--accent-text);
}

.site-nav .link.current {
  color: var(--accent-text);
}

/* .this-page {
  position: relative;
  display: block;
} */
.site-nav .item {
  position: relative;
}

.link.current::after {
  /* display: inline-block; */
  content: "";
  position: absolute;
  background-color: var(--accent-text);
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/* Auth-nav */
.auth-nav .link {
  color: var(--title-text-color);
  fill: var(--title-text-color);
}

.auth-nav {
  margin-left: auto;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text);
  fill: var(--accent-text);
}

.header-nav,
.auth-nav {
  display: flex;
  align-items: center;
}

.site-nav .link,
.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:not(:last-child),
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.mail-icon {
  margin-right: 10px;
  content: "";
  height: 100%;
  background-size: contain;
  align-items: center;
  justify-content: center;
}

.phone-icon {
  margin-right: 10px;
  content: "";
  height: 100%;
  background-size: contain;
  align-items: center;
  justify-content: center;
}

/* Шапка */
.section-page {
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--secondary-bc-color);
  text-align: center;
}

/* .section-page.section {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
} */

.page-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Кнопка */
button {
  font-family: inherit;
  cursor: pointer;
}

.btn {
  padding: 10px 32px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-text);
}

/* Modal */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;

  top: 0;
  left: 0;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 528px;
  max-height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.close-button {
  display: block;
  width: 18px;
  height: 18px;
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-text);
}

/* Контент модального окна */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-content-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 12px;
}

.form-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-field {
  position: relative;
}

.form-field .form-input {
  width: 100%;
  height: 40px;
  color: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-text);
}

.form-input:hover+.icon-input,
.form-input:focus+.icon-input {
  fill: var(--accent-text);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
}

.form-input.textarea {
  padding: 12px 16px;
}

.textarea {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-label.comment {
  margin-bottom: 20px;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement-form {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-left: 4px;
  /* margin-right: 4px; */
}

.form-accept {
  position: relative;
  display: block;
  margin-left: 15px;
}

.agreement-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-text);
  text-decoration: underline;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  margin: 0 auto;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

.fake {
  display: inline-flex;
  width: 16px;
  height: 15px;
  background-color: var(--primary-white-color);
  border: 2px solid var(--color-web-studio);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.fake {
  background-color: var(--accent-text);
  border: 2px solid var(--accent-text);
}

.checkbox-icon {
  fill: var(--primary-white-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.checkbox-icon {
  background-color: var(--accent-text);
  border-color: var(--accent-text);
  fill: var(--primary-white-color);
  border-width: 2px;
}

/* Особенности */
.features {
  padding-bottom: 0;
}

.hidden {
  /* display: none; */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
}

.features-item {
  max-width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* Чем мы занимаемся */
.work {
  align-items: center;
}

.work-list {
  display: flex;
  justify-content: space-around;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Команда */
.team {
  background-color: var(--bc-color-team-and-filter);
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-network {
  width: 44px;
  height: 44px;
}

.social-icon {
  display: block;
  fill: currentColor;
}

.social-links .social-network:not(:last-child) {
  margin-right: 10px;
}

.social-network-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  height: 100%;
  background-color: var(--primary-white-color);
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--accent-text);
  color: #ffffff;
}

/* Clients */
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.client-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  padding: 16px 32px;
  display: block;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-text);
  border-color: var(--accent-text);
}

.client-icon {
  fill: currentColor;
}

/* PORTFOLIO */
.portfolio {
  background-color: var(--primary-white-color);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--bc-color-team-and-filter);
  color: var(--primery-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-text);
  color: var(--primary-white-color);
}

.portfolio-work {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-work-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-work-item:focus,
.portfolio-work-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: #000000;
}

.portfolio-work-link {
  color: inherit;
}

.portfolio-work-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.portfolio-border {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: 0;
}

.portfolio-work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio-description {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-work-item:hover .portfolio-overlay {
  transform: translateY(0);
}

/* .portfolio-work-link:hover,
.portfolio-work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/* Подвал */
.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bc-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  display: flex;
}

.adress {
  margin-top: 20px;
  width: 231px;
  height: 82px;
  display: inline-block;
  padding: 0;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-web {
  color: var(--accent-text);
}

.adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-text);
}

.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-link-footer);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-text);
}

/* Присоединяйтесь */
.footer-social-network {
  /* display: inline-block; */
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-left: 70px;
}

.footer-social-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin-top: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text);
}

.footer-social-list .footer-social-item:not(:last-child) {
  margin-right: 10px;
}

/* Подписка */
.footer-subscription {
  margin-left: 93px;
  margin-top: 12px;
  width: 570px;
  height: 86px;
}

.footer-subscription-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-subscription-form {
  display: flex;
}

.footer-subscription-email {
  width: 358px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: transparent;
  padding: 15px 16px;
  margin-right: 13px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subscription-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-btn {
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.footer-subscription-btn:hover,
.footer-subscription-btn:focus {
  background-color: #188ce8;
}

.icon-subscribe {
  margin-left: 10px;
  vertical-align: middle;
  fill: var(--primary-white-color);
}